# received sig
snippet rx "name"
{
	"name": "${VISUAL}$0"
},
endsnippet

# value table entry
snippet value "name"
{
	"name": "${0:${VISUAL}}",
	"entries": {
		"${2:entry}": 0
	}
},
endsnippet

snippet onBus "name"
"onBus": [
	"${0:${VISUAL}}"
]
endsnippet
